<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Demo 1 - <%= componentNamePascalSpaced %></title>
  <script type="module" src="./demo.js"></script>
  <link rel="stylesheet" href="./demo-base.css">
</head>
<body>
  <<%= componentName %> data-demo-target text-key="<%= componentName %>-title"></<%= componentName %>>
</body>
</html>
